.subsection {
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 32px;
    border-bottom: 1px solid #D9DCDE;
}

.subsection:not(:last-child) {
    margin-bottom: 24px;
}

.subsection:first-of-type {
    border-top: 1px solid #D9DCDE;
    border-bottom: 1px solid #D9DCDE;
}

.title {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    color: var(--textDark);
}

.title::before {
    min-width: 32px;
    height: 100%;
    content: attr(data-number);
    font-size: 18px;
    line-height: 26px;
    color: #FC6B3F;
}

.title .time {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: #FFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

.subtitle {
    font-size: 14px;
    line-height: 20px;
    color: #464C53;
}
