.flatpickr-input {
  height: 100%;
  width: 100%;
  padding: 16px;
  border: 1px solid #FC6B3F;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
}

.form-control {
  background-image: url("https://www.technodom.kz/under/briefer/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;

  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}
