.flatpickr-input {
  --spacing: 16px;
  width: 100%;
  padding: var(--spacing);
  border: 1px solid var(--gray10);
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  background-image: url("https://www.technodom.kz/under/briefer/calendar.svg");
  background-repeat: no-repeat;
  background-position: right var(--spacing) center;
}

.flatpickr-input:focus-visible {
  outline: 1px solid var(--primary);
}

.flatpickr-input_icon_left {
  background-position: left 16px center;
  padding-left: calc(var(--spacing) + 28px);
}

.flatpickr-input_outlined {
  border: 1px solid var(--primary);
}

