.check {
  padding-left: 1.2em;

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked {
      + .check__box {
        background-image: url("https://www.technodom.kz/under/briefer/checkbox-tick.svg");
        border: none;
      }
    }
  }

  &--negative {
    .check__input {
      &:checked {
        + .check__box {
          border: none;
          background-image: url("https://www.technodom.kz/under/briefer/cross.svg");
        }
      }
    }
  }

  &__box {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #A2DAB2;
    border-radius: 4px;
    margin-left: -1.2em;
    background-color: transparent;
  }
}
