.card {
    cursor: pointer;
    padding: 16px;
    background-color: var(--paleGreen);
    border-radius: 8px;
}

.disabled {
    cursor: auto;
    background-color: var(--gray3);
}

.disabled .time {
    background-color: var(--white);
    color: var(--green);
}

.input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input:focus-visible + .box {
    outline: 1px solid var(--blue);
    outline-offset: 4px;
}

.input[type="checkbox"] + .box {
    border-radius: 4px;
}

.input[type="radio"] + .box {
    border-radius: 50%;
}

.input[type="checkbox"]:checked + .box {
    background-image: url("https://www.technodom.kz/under/briefer/checkbox-tick.svg");
    border: none;
}

.input[type="radio"]:checked + .box {
    background-image: url("https://www.technodom.kz/under/briefer/tick.svg");
    border: none;
}

.input[type="checkbox"]:checked + .boxDisabled, .input[type="radio"]:checked + .boxDisabled {
    background-image: url("https://www.technodom.kz/under/briefer/checkbox-disabled-tick.svg");
}

.box {
    flex-shrink: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--green90);
    background-color: transparent;
}

.card_type_negative {
    background-color: var(--paleRed);
}

.card_type_negative .box {
    border: 1px solid var(--red90);
}

.card_type_negative:not(.card_type_negative_checked):hover {
    background-color: var(--red10);
}

.card_type_positive:not(.card_type_positive_checked):hover {
    background-color: var(--green10);
}

.card_type_negative_checked {
    background-color: var(--red80);
    color: var(--gray3);
}

.card_type_negative_checked .title {
    color: var(--white);
}

.card_type_negative_checked .card__description {
    color: var(--gray3);
}

.card_type_negative_checked .input:checked + .box {
    border: none;
    background-image: url("https://www.technodom.kz/under/briefer/cross.svg");
}

.cardTypeNegativeDisabled .input:checked + .box {
    border: none;
    background-image: url("https://www.technodom.kz/under/briefer/cross.svg");
}

.card_type_positive_checked {
    background-color: var(--green);
    color: var(--gray3);
}

.card_type_positive_checked .description {
    color: var(--gray3);
}

.card_type_positive_checked .time {
    background-color: var(--white);
    color: var(--green);
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.description {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--gray65);
}

.time {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: rgba(0, 129, 36, 0.1);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: var(--textDark);
}
