.card {
  cursor: pointer;
  flex-basis: 386px;
  padding: 16px;
  background-color: #F1FFF5;
  border-radius: 8px;

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &[type="checkbox"] {
      + .card__box {
        border-radius: 4px;
      }

      &:checked {
        + .card__box {
          background-image: url("https://www.technodom.kz/under/briefer/checkbox-tick.svg");
          border: none;
        }
      }
    }

    &[type="radio"] {
      + .card__box {
        border-radius: 50%;
      }

      &:checked {
        + .card__box {
          background-image: url("https://www.technodom.kz/under/briefer/tick.svg");
          border: none;
        }
      }
    }
  }

  &__box {
    flex-shrink: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #A2DAB2;
    background-color: transparent;
  }

  &:not(.card--positive):hover {
    background-color: #E4FBEA;
  }

  &:last-child {
    background-color: #FFF3F3;

    .card__box {
      border: 1px solid #F7666F;
    }

    &:hover {
      background-color: #FFE8E9;
    }
  }

  &--negative {
    background: #F88C93 !important;
    color: #F4F4F4;

    .card__title {
      color: #fff;
    }

    .card__description {
      color: #F4F4F4;
    }

    .card__input {
      &:checked {
        + .card__box {
          border: none;
          background-image: url("https://www.technodom.kz/under/briefer/cross.svg");
        }
      }
    }
  }

  &--positive {
    background: #4CAF50;
    color: #f4f4f4;

    .card__description {
      color: #f4f4f4;
    }

    .card__time {
      background: #FFFFFF;
      color: #4CAF50;
    }
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  &__description {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #464C53;
  }

  &__time {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: rgba(0, 129, 36, 0.1);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #212427;
  }
}
