.brief {
    margin-bottom: 56px;
}

.container {
    margin-bottom: 32px;
}

.title {
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: var(--textDark);
}

.subtitle {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 20px;
    color: var(--gray65);
}

.warning {
    font-size: 14px;
    line-height: 16px;
    color: var(--red);
}

.form {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(min(384px, 100%), 1fr));
}

@media screen and (max-width: 400px) {
    .form {
        grid-template-columns: 1fr;
    }
}

