.app {

  input, button {
    font-family: "Museo", "Segoe UI", sans-serif;
  }

  &__section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__main {
    margin-bottom: 180px;
  }
}
