.app {
  padding-top: 64px;
  max-width: 1232px;
  margin: 0 auto 0;
  font-family: "Museo", "Segoe UI", sans-serif;

  &__logo-container {
    margin-bottom: 40px;
  }

  input, button {
    font-family: "Museo", "Segoe UI", sans-serif;
  }

  &__section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__main {
    margin-bottom: 180px;
  }
}
