.archbrief {
    padding: 24px 32px;
    border-radius: 16px;
    background-color: var(--lightGray);
}

.container {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: 50ch;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    overflow: hidden;
}

.info {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    color: var(--gray55);
}

.info strong {
    color: var(--gray65);
}

.link {
    flex-shrink: 0;
    padding: 16px 32px;
    border: 1px solid var(--blue);
    border-radius: 16px;
    font-size: clamp(16px, 4vw, 20px);
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: var(--blue);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.link:hover, .link:focus-visible {
    background-color: var(--blue);
    color: var(--white);
    outline: none;
}

@media screen and (max-width: 767px) {
    .link {
        flex-grow: 1;
        padding: 8px 16px;
    }
}
