.customSelect {
    position: relative;
    min-width: 210px;
    max-width: 330px;
    width: 100%;
}

.customSelect.primary .button, .customSelect.primary .customSelectActive .button, .customSelect.primary .content {
    border-color: var(--primary);
}

.customSelect.primary .value {
    font-weight: 400;
}

.customSelectActive .content {
    opacity: 1;
    visibility: visible;
    border: 1px solid var(--gray10);
    border-top: none;
}

.customSelectActive .button {
    border: 1px solid var(--gray10);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
}

.customSelectActive .chevron {
    transform: rotate(180deg);
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    width: 100%;
    border: 1px solid var(--gray10);
    border-radius: 8px;
    background-color: var(--white);
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.button:focus-visible, .customSelect.primary .button:focus-visible {
    outline: none;
    border: 1px solid var(--blue);
}

.placeholder {
    display: flex;
    align-items: baseline;
    gap: 6px;
    color: var(--gray55);
}

.searchInput {
    width: 80%;
    padding: 16px;
    margin-left: 16px;
    margin-bottom: 12px;
    margin-right: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    background-color: var(--gray3);
}

.value {
    max-width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--textDark);
    font-weight: 700;
}

.chevron {
    transition: transform 0.2s ease;
    margin-inline-start: auto;
}

.content {
    position: absolute;
    top: 94%;
    left: 0;
    right: 0;
    border: 1px solid var(--primary);
    border-radius: 0 0 8px 8px;
    border-top: 0;
    overflow: hidden;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    background-color: var(--white);
}

.optionsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-height: 250px;
    padding: 0 16px 16px 16px;
    list-style-type: none;
    overflow-y: auto;
    font-size: 16px;
    transition: max-height 0.2s ease;
}

.optionsList li {
    width: 100%;
    color: var(--textDark);
    cursor: pointer;
}

.optionsList li:hover {
    color: var(--primary);
}
