.customSelect {
    position: relative;
    flex-basis: 210px;
}

.customSelectActive .customSelectContent {
    opacity: 1;
    visibility: visible;
    border: 1px solid var(--primary);
    border-top: none;
}

.customSelectActive .customSelectButton {
    border: 1px solid var(--primary);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
}

.customSelectActive .customSelectChevron {
    transform: rotate(180deg);
}

.customSelectButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    width: 100%;
    border: 1px solid var(--gray10);
    border-radius: 8px;
    background-color: var(--white);
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.customSelectButton:focus-visible {
    outline: 1px solid var(--primary);
}

.customSelectCaption {
    display: flex;
    align-items: baseline;
    gap: 6px;
    color: var(--gray55);
}

.customSelectValue {
    color: var(--textDark);
    font-weight: 700;
}

.customSelectChevron {
    transition: transform 0.2s ease;
    margin-inline-start: auto;
}

.customSelectContent {
    position: absolute;
    top: 94%;
    left: 0;
    right: 0;
    border: 1px solid var(--primary);
    border-radius: 0 0 8px 8px;
    border-top: 0;
    overflow: hidden;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    background-color: var(--white);
}

.customSelectOptionsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-height: 250px;
    padding: 0 16px 16px 16px;
    list-style-type: none;
    overflow-y: auto;
    font-size: 16px;
    transition: max-height 0.2s ease;
}

.customSelectOptionsList li {
    width: 100%;
    color: var(--gray55);
    cursor: pointer;
}

.customSelectOptionsList li:hover {
    color: var(--primary);
}
