.header {
    padding-top: 64px;
}

.logoContainer {
    margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
    .header {
        padding-top: 32px;
    }

    .logoContainer {
        margin-bottom: 24px;
        text-align: center;
    }
}
