.inputContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    /*max-width: 386px;*/
}

.inputContainerWide {
    grid-column: span 3;
}

.label {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    color: var(--textDark);
}

.labelAsterisk {
    font-weight: 700;
    color: #000;
}

.labelError {
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #DF0613;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

.input {
    width: 100%;
    padding: 16px;
    border: 1px solid #FC6B3F;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}

.input::placeholder {
    opacity: 0.7;
}

.input:not(.form-control):read-only {
    border: 1px solid var(--gray10);
    cursor: auto;
}

.input:not(.form-control):read-only:focus {
    outline: none;
}

.inputTypeBudget {
    background-image: url("https://new.technodom.kz/under/briefer/tenge.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: right 16px center;
    padding-right: 48px;
}

.input:focus {
    border: 1px solid transparent;
    outline: 1px solid var(--blue);
}

.inputDate {
    cursor: default;
    background: url('https://www.technodom.kz/under/briefer/calendar.svg') no-repeat right 16px center;
}

.input::-webkit-input-placeholder {
    color: var(--textDark);
}
