.radio {
  padding-left: 1.2em;

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked {
      + .radio__box {
        background-image: url("https://www.technodom.kz/under/briefer/tick.svg");
        border: none;
      }
    }
  }

  &--negative {
    .radio__input {
      &:checked {
        + .radio__box {
          border: none;
          background-image: url("https://www.technodom.kz/under/briefer/cross.svg");
        }
      }
    }

    .radio__box {
      border: 1px solid #F7666F;

    }
  }

  &__box {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #A2DAB2;
    border-radius: 50%;
    margin-left: -1.2em;
    background-color: transparent;
  }
}
