.input {
    padding: 16px 16px 16px 46px;
    border: 1px solid var(--gray10);
    border-radius: 8px;
    background-color: var(--white);
    color: var(--gray55);
    font-size: 14px;
    line-height: 22px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 16px 50%;
}

.input:focus-visible, .input:hover {
    outline: 1px solid var(--primary);
}

