.title {
    margin-bottom: 16px;
    font-weight: 900;
    font-size: clamp(26px, 4vw, 32px);
    line-height: 38px;
    text-transform: uppercase;
    color: var(--textDark);
}

.subtitle {
    font-size: clamp(14px, 2vw, 16px);
    line-height: 20px;
    color: var(--gray65);
}

.subtitle::after {
    content: "";
    display: block;
    margin: 24px 0;
    width: 100%;
    height: 1px;
    background-color: var(--gray10);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.pagination {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    list-style: none;
}

.pagination a {
    display: block;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--gray30);
    font-weight: 700;
    font-size: calc(18rem / 16);
    line-height: 1.2;
}

.pagination .active {
    background-color: var(--blue);
    color: var(--white);
}
